In [24]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
import warnings
warnings.filterwarnings("ignore")
from PIL import ImageGrab
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
# We are going to conduct a Test of Independence using Chi-Square  test with Contingency table

In [26]:
# IMPORTIMG FILES

In [27]:
df=pd.read_csv("Costomer+OrderForm.csv")
df.head(30)

   Phillippines   Indonesia       Malta       India
0    Error Free  Error Free   Defective  Error Free
1    Error Free  Error Free  Error Free   Defective
2    Error Free   Defective   Defective  Error Free
3    Error Free  Error Free  Error Free  Error Free
4    Error Free  Error Free   Defective  Error Free
5    Error Free  Error Free  Error Free  Error Free
6    Error Free   Defective  Error Free  Error Free
7    Error Free  Error Free  Error Free  Error Free
8    Error Free  Error Free  Error Free  Error Free
9    Error Free  Error Free  Error Free  Error Free
10    Defective  Error Free  Error Free  Error Free
11   Error Free  Error Free  Error Free  Error Free
12   Error Free  Error Free  Error Free   Defective
13   Error Free  Error Free  Error Free  Error Free
14   Error Free  Error Free  Error Free  Error Free
15   Error Free  Error Free   Defective  Error Free
16   Error Free  Error Free  Error Free  Error Free
17   Error Free  Error Free  Error Free  Error Free
18   Error Free  Error Free  Error Free  Error Free
19    Defective  Error Free  Error Free   Defective
20   Error Free  Error Free  Error Free  Error Free
21   Error Free  Error Free   Defective  Error Free
22   Error Free  Error Free  Error Free  Error Free
23    Defective  Error Free  Error Free  Error Free
24   Error Free  Error Free  Error Free  Error Free
25   Error Free  Error Free  Error Free  Error Free
26   Error Free  Error Free  Error Free  Error Free
27   Error Free  Error Free  Error Free  Error Free
28   Error Free  Error Free  Error Free  Error Free
29   Error Free  Error Free  Error Free  Error Free

In [28]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [29]:
#Checking for Null Values
df.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [30]:
#Checking for Duplicate Values
df[df.duplicated()].shape

(290, 4)

In [31]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Phillippines, Indonesia, Malta, India]
Index: []

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [33]:
#Checking value counts in data

In [34]:
print(df['Phillippines'].value_counts(),'\n',df['Indonesia'].value_counts(),'\n',df['Malta'].value_counts(),'\n',df['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64
 Error Free    269
Defective      31
Name: Malta, dtype: int64
 Error Free    280
Defective      20
Name: India, dtype: int64

In [35]:
#Creating Contingency table

contingency_table = [[271,267,269,280],
                    [29,33,31,20]]
print(contingency_table)

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [36]:
# Calculating Expected Values for Observed data

In [37]:
stat, p, df, exp = stats.chi2_contingency(contingency_table)
print("Statistics = ",stat,"\n",'P_Value = ', p,'\n', 'degree of freedom =', df,'\n', 'Expected Values = ', exp)

Statistics =  3.858960685820355
 P_Value =  0.2771020991233135
 degree of freedom = 3
 Expected Values =  [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [38]:
#Defining Expected values and observed values

observed = np.array([271, 267, 269, 280, 29, 33, 31, 20])
expected = np.array([271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25])

In [39]:
#Compare Evidences with Hypothesis using t-statictic

In [40]:
test_statistic , p_value = stats.chisquare(observed, expected, ddof = df)
print("Test Statistic = ",test_statistic,'\n', 'p_value =',p_value)

Test Statistic =  3.858960685820355
 p_value = 0.4254298144535761

In [41]:
# interpreting p-value

In [42]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, p_value))
if p_value <= alpha:
    print('We reject Null Hypothesis if defective% varies by centre ')
else:
    print('We accept Null hypothesis')

Significnace=0.050, p=0.425
We accept Null hypothesis

In [43]:
# Hence,We ACCEPT Null hypothesis.Therefore,defective% is not varied by centre.